<!DOCTYPE html>
<html>
  <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js" charset="utf-8"></script>
      <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
  </head>
  <body>
    <% include ../../templates/header.ejs %>
    <div class="dashboard-container">
<div class="column" style = "padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;">
  <div class="row" style="height: 60%; width: 60%; background-color: white;   padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;">
      <h1 id="subtitle"> Chart </h1>
      <canvas id="myChart" width="100%" height="50%"></canvas>
  </div>
  <div class="row">
    second row
  </div>
  </div>
</div>

      <script>
        var datahours = [];
        var datalabels = [];
        var columnexists = 0;

        <% for (var i=0; i< workauthorizations.length; i++){ %>
          <% for (var j=0; j< (this.datalabels).length; j++){ %>
            <% if (workauthorizations[i].title==datalabels[j]){ %>
              datahours[ <%=j%>]=datahours[<%=j%>]+workauthorizations[<%=i%>].allocationhours;
              <% newcolumn++; %>
            <% } else { %>
            <% } %>
        <% } %>
            <% if (columnexists == 0){ %>
              datalabels.push("<%=workauthorizations[i].title%>");
              datahours.push("<%=workauthorizations[i].allocationhours%>");
              workauthorizations.shift();
              <% } %>
          <%  newcolumn=0; %>
      <% } %>


        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: datalabels,
            datasets: [{
              label: '# of Hours',
              data: datahours,
              backgroundColor: [
                             'rgba(255, 99, 132, 0.2)',
                             'rgba(54, 162, 235, 0.2)',
                             'rgba(255, 206, 86, 0.2)',
                             'rgba(75, 192, 192, 0.2)',
                             'rgba(153, 102, 255, 0.2)',
                             'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                             'rgba(255,99,132,1)',
                             'rgba(54, 162, 235, 1)',
                             'rgba(255, 206, 86, 1)',
                             'rgba(75, 192, 192, 1)',
                             'rgba(153, 102, 255, 1)',
                             'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        });
        </script>
      <% include ../../templates/footer.ejs %>
  </body>
</html>
