<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />

  </head>
  <body>

         <% include ../../templates/header.ejs %>

         <div id="maincontent">
           <h1 id="subtitle"> Edit Work Authorization  </h1>
    <form id="subtitle" action="/sol/workauthorizations/<%=workauthorization.id%>?_method=PUT" method="Post">
      <table>
        <tr>
          <td align="right">
            title:
          </td>
          <td>
            <input type="text" name="title" value="<%=workauthorization.title%>"/>
          </td>
        </tr>
        <tr>
          <td align="right">
            chargecode:
          </td>
          <td>
            <input type="text" name="chargecode" value="<%=workauthorization.chargecode%>"/>
          </td>
        </tr>
        <tr>
          <td align="right">
            name:
          </td>
          <td>
            <input type="text" name="allocationname" value="<%=workauthorization.allocationname%>"/>
          </td>
        </tr>
        <tr>
          <td align="right">
            hours:
          </td>
          <td>
            <input type="Number" name="allocationhours" value="<%=workauthorization.allocationhours%>"/>
          </td>
        </tr>
        <tr>
          <td align="right">
            rate:
          </td>
          <td>
            <input type="Number" name="allocationrate" value="<%=workauthorization.allocationrate%>"/>
          </td>
        </tr>
      </table>
      <input id="submenu" type="submit" name="" value="Submit Changes" />
    </form>

    <!-- title: <input type="text" name="title" value="<%=workauthorization.title%>"/><br/>
    chargecode: <input type="text" name="chargecode" value="<%=workauthorization.chargecode%>"/><br/>
    allocationname: <input type="text" name="allocationname" value="<%=workauthorization.allocationname%>"/><br/>
    allocationhours: <input type="Number" name="allocationhours" value="<%=workauthorization.allocationhours%>"/><br/>
    <input id="submenu" type="submit" name="" value="Submit Changes" /> -->

  </div>
  <% include ../../templates/footer.ejs %>

</body>
</html>
