<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />

  </head>
  <body>

 <% include ../../templates/header.ejs %>

      <div id="maincontent">
        <h1 id="subtitle">Team Authorizations</h1>

        <a id="submenu" href="/sol/workauthorizations/newworkauthorization">ADD WORK AUTHORIZATION</a><br/>
<div id="tablecontent">
        <script type="text/javascript">
          $(document).ready( function () {
              $('#example').DataTable({
                scrollY: 300,
      paging: true,
      "autoWidth": true,
      "searching": true,
      "ordering": true

              });
          } );
  </script>


  <table id="example" class="display" cellspacing="0" width="80%">
    </div>
  <thead>
    <tr>
      <th> Project </th>
      <th> Charge Code </th>
      <th> Staff Name </th>
      <th> Hours Remainging</th>
      <th> Date </th>
    </tr>
  </thead>
  <tbody>
            <% for(var i = 0; i < workauthorizations.length; i++){ %>
                <tr>
                  <td>
              <a style="color: black" href="/sol/workauthorizations/<%=workauthorizations[i]._id%>"><%=workauthorizations[i].title; %></a></td>
              <td><%=workauthorizations[i].chargecode %></td>
                <td><%=workauthorizations[i].allocationname %></td>
                  <td><%=workauthorizations[i].allocationhours - workauthorizations[i].hoursburned %></td>
                    <td><%=workauthorizations[i].allocationdate.getFullYear()%> -  <%=workauthorizations[i].allocationdate.getMonth() %></td>

            </tr>
            <% } %>
</tbody>
</table>

      </div>
      <% include ../../templates/footer.ejs %>
  </body>
</html>
