<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />

  </head>
  <body>
  <% include ../../templates/header.ejs %>

  <div id="maincontent">
    <h1 id="subtitle">Work Authorization Details</h1>

        <a id="submenu" href="/sol/workauthorizations/<%=workauthorization._id%>/edit">EDIT</a>

        <ul>
          <li> Project: <%=workauthorization.title%></li>
          <li> Charge Code: <%=workauthorization.chargecode%></li>
          <li> Staff Name: <%=workauthorization.allocationname%></li>
          <li> Hours: <%=workauthorization.allocationhours%></li>
          <li> Rate: <%=workauthorization.allocationrate%></li>
          <li> Date: <%=workauthorization.allocationdate.getFullYear()%> -  <%=workauthorization.allocationdate.getMonth() %></li>
        </ul>


        <form action="/sol/workauthorizations/deleteworkauthorization/<%=workauthorization._id%>?_method=DELETE" method="POST">
          <input id="submenu" type="submit" value="DELETE"/>
        </form>

      </div>
      <% include ../../templates/footer.ejs %>

  </body>
</html>
