<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SOL</title>
      <!-- <script src="app.js"></script> -->


    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


<% include ../partials/head %>

  <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body>

 <% include ../../templates/header.ejs %>

      <div id="maincontent">
        <h1 id="subtitle">My Authorization(s)</h1>

      <script type="text/javascript">
        $(document).ready( function () {
            $('#example').DataTable({
              scrollY: 300,
    paging: false,
    "autoWidth": true,
    "searching": true,
    "ordering": true

            });
        } );
</script>



        <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th> Project      </th>
            <th> Charge Code      </th>
            <th> Date </th>
            <th> Hours Allocated </th>
            <th> Hours Burned </th>
          </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < workauthorizations.length; i++){ %>
            <%  if (workauthorizations[i].allocationname==currentUser.username) { %>
                <tr>
                  <td>
            <%=workauthorizations[i].title; %>
          </td>
          <td>
            <%=workauthorizations[i].chargecode; %>
          </td>

            <td>
                <%=workauthorizations[i].allocationdate.getFullYear()%> -  <%=workauthorizations[i].allocationdate.getMonth() %>
              </td>
              <td>
                  <%=workauthorizations[i].allocationhours; %>
                </td>
              <td>

                <!-- Sign Up Button START -->
<button class="openModal" ><%= workauthorizations[i].hoursburned;%></button>
<!-- Sign Up Button END -->
<!-- Modal START-->
<div class="modal">
  <!-- Modal text information START -->
  <div class="modal-text-box">
    <button title="Close" class="close" class="modal-color-buttons" style="float: right;">X</button>

    <h2 class="modal-header">Burned Hours</h2>
    <div class="modal-body">


      <form class="subtitle" action="/sol/workauthorizations/<%=workauthorizations[i].id%>?_method=PUT" method="Post">
  <input type="text" name="hoursburned" value="<%=workauthorizations[i].hoursburned; %>" />

  <input class="submenu" type="submit" name="" value="Submit Changes" />
</form>

    </div>
    <!-- Button to close the modal START-->
    <div class="modal-footer">

    </div>
    <!-- Button to close the modal END-->
  </div>
    <!-- Modal text information END -->
</div>
<!-- Modal END -->
              </td>

          </tr>

            <% } else { %>
                <% } %>
              <% } %>
            </tbody>
          </table>
      </div>
      <% include ../../templates/footer.ejs %>

  <script src="../../css/test.js"></script>
  </body>
</html>
